In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [14]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head(15)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Albany,42.6001,-73.9662,40.80,49,0,9.04,US,2021-12-13 00:22:36
1,1,Mount Isa,-20.7333,139.5000,98.37,9,7,6.91,AU,2021-12-13 00:25:42
2,2,Pisco,-13.7000,-76.2167,66.25,88,20,14.97,PE,2021-12-13 00:27:17
3,3,Bluff,-46.6000,168.3333,65.80,71,20,9.26,NZ,2021-12-13 00:27:17
4,4,Rikitea,-23.1203,-134.9692,77.81,75,88,7.85,PF,2021-12-13 00:27:18
5,5,Mataura,-46.1927,168.8643,65.48,36,54,3.74,NZ,2021-12-13 00:27:18
6,6,Daloa,6.8774,-6.4502,73.98,78,7,3.09,CI,2021-12-13 00:27:18
7,7,Manakara,-22.1333,48.0167,73.42,84,37,2.28,MG,2021-12-13 00:27:18
8,8,Saskylakh,71.9167,114.0833,-44.70,100,71,3.49,RU,2021-12-13 00:27:19
9,9,Chongwe,-15.3292,28.6820,71.11,40,70,3.62,ZM,2021-12-13 00:27:19
10,10,Mitu,1.1983,-70.1733,75.43,89,85,2.53,CO,2021-12-13 00:27:19
11,11,Cherskiy,68.7500,161.3000,-42.83,100,53,1.72,RU,2021-12-13 00:27:20
12,12,Juba,4.8517,31.5825,76.17,32,82,0.98,SS,2021-12-13 00:25:10
13,13,Bukavu,-2.5083,28.8608,61.30,91,100,1.19,CD,2021-12-13 00:27:20
14,14,Mazatlan,23.2167,-106.4167,75.90,83,20,1.01,MX,2021-12-13 00:25:17

In [11]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [12]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [15]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
#Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
4,4,Rikitea,-23.1203,-134.9692,77.81,75,88,7.85,PF,2021-12-13 00:27:18
10,10,Mitu,1.1983,-70.1733,75.43,89,85,2.53,CO,2021-12-13 00:27:19
12,12,Juba,4.8517,31.5825,76.17,32,82,0.98,SS,2021-12-13 00:25:10
14,14,Mazatlan,23.2167,-106.4167,75.90,83,20,1.01,MX,2021-12-13 00:25:17
23,23,Georgetown,5.4112,100.3354,76.95,83,20,2.30,MY,2021-12-13 00:27:22
26,26,Maragogi,-9.0122,-35.2225,78.85,80,27,11.14,BR,2021-12-13 00:23:03
33,33,Bathsheba,13.2167,-59.5167,81.21,78,40,19.57,BB,2021-12-13 00:27:24
35,35,Mayumba,-3.4320,10.6554,76.39,90,93,1.32,GA,2021-12-13 00:27:25
41,41,Manjacaze,-24.7117,33.8828,77.90,79,100,3.85,MZ,2021-12-13 00:27:26
42,42,Vaini,-21.2000,-175.2000,86.16,79,20,11.50,TO,2021-12-13 00:27:26

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
4      Rikitea      PF     77.81 -23.1203 -134.9692
10        Mitu      CO     75.43   1.1983  -70.1733
12        Juba      SS     76.17   4.8517   31.5825
14    Mazatlan      MX     75.90  23.2167 -106.4167
23  Georgetown      MY     76.95   5.4112  100.3354
26    Maragogi      BR     78.85  -9.0122  -35.2225
33   Bathsheba      BB     81.21  13.2167  -59.5167
35     Mayumba      GA     76.39  -3.4320   10.6554
41   Manjacaze      MZ     77.90 -24.7117   33.8828
42       Vaini      TO     86.16 -21.2000 -175.2000

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Rikitea,PF,77.81,-23.1203,-134.9692,People ThankYou
10,Mitu,CO,75.43,1.1983,-70.1733,
12,Juba,SS,76.17,4.8517,31.5825,ROYAL PALACE HOTEL - JUBA
14,Mazatlan,MX,75.90,23.2167,-106.4167,Hotel Playamar
23,Georgetown,MY,76.95,5.4112,100.3354,Cititel Penang
26,Maragogi,BR,78.85,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
33,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
35,Mayumba,GA,76.39,-3.4320,10.6554,LIKWALE LODGE
41,Manjacaze,MZ,77.90,-24.7117,33.8828,Hotel Gani
42,Vaini,TO,86.16,-21.2000,-175.2000,Keleti Beach Resort

In [36]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [40]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))